<div class="container links">
  <a href="" ng-click="go('/login')">Login</a>  |  
  <a href="" ng-click="go('/register')">Register</a>
</div>
<div class="custom-form col-md-4">
  <h1>Login</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" name="loginF" ng-submit="login()" novalidate>
    <div class="form-group" ng-class="{'has-error': loginF.email.$invalid && loginF.email.$touched}">
      <label>Email</label>
      <input type="email" class="form-control" name="email" ng-model="loginForm.email" required="">
      <div class="help-block" ng-messages="loginF.email.$error" ng-if="loginF.email.$touched">
            <span ng-message="required">Email is required.</span>
            <span ng-message="email">Must be a valid email.</span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': loginF.password.$invalid && loginF.password.$touched}">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="loginForm.password" required="">
        <div class="help-block" ng-messages="loginF.password.$error" ng-if="loginF.password.$touched">
          <span ng-message="required">Password is required.</span>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="loginF.$invalid">Login</button>
      </div>
  </form>
</div>