<div class="container links">
  <a href="" ng-click="go('/login')">Login</a>  |  
  <a href="" ng-click="go('/register')">Register</a>
</div>
<div class="custom-form col-md-4">
  <h1>Register</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" name="registerF" ng-submit="register()" novalidate>
    <div class="form-group" ng-class="{'has-error': registerF.firstName.$invalid && registerF.firstName.$touched}">
      <label>First Name</label>
      <input type="text" class="form-control" name="firstName" ng-model="registerForm.firstName" ng-pattern="/\b[A-Z]{1}[a-z]{2,30}$/" ng-minlength="3" ng-maxlength="31" required="">
      <div class="help-block" ng-messages="registerF.firstName.$error" ng-if="registerF.firstName.$touched">
        <span ng-message="minlength">Minimum of 3 characters.</span>
        <span ng-message="maxlength">Maximum of 31 characters.</span>
        <span ng-message="required">First Name is required.</span>
        <span ng-message="pattern">First Name starts with a capital letter followed by lowercase characters!</span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': registerF.lastName.$invalid && registerF.lastName.$touched}">
      <label>Last Name</label>
      <input type="text" class="form-control" name="lastName" ng-model="registerForm.lastName" ng-pattern="/\b[A-Z]{1}[a-z]{2,30}$/" ng-minlength="3" ng-maxlength="31" required="">
      <div class="help-block" ng-messages="registerF.lastName.$error" ng-if="registerF.lastName.$touched">
        <span ng-message="minlength">Minimum of 3 characters.</span>
        <span ng-message="maxlength">Maximum of 31 characters.</span>
        <span ng-message="required">Last Name is required.</span>
        <span ng-message="pattern">Last Name starts with a capital letter followed by lowercase characters!</span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': registerF.email.$invalid && registerF.email.$touched}">
      <label>Email</label>
      <input type="email" class="form-control" name="email" ng-model="registerForm.email" required="">
      <div class="help-block" ng-messages="registerF.email.$error" ng-if="registerF.email.$touched">
        <span ng-message="required">Email is required.</span>
        <span ng-message="email">Must be a valid email.</span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': registerF.password.$invalid && registerF.password.$touched}">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="registerForm.password" required="">
        <div class="help-block" ng-messages="registerF.password.$error" ng-if="registerF.password.$touched">
          <span ng-message="required">Password is required.</span>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="registerF.$invalid">Register</button>
      </div>
  </form>
</div>