<div class="dashwrapper">
	<div class="customnav">
		<div class="welcome">
			Welcome to Cluster Garage!
		</div>
		<div class="user-dropdown">
			<div class="btn-group">
				<i class="fa fa-cog settingIcon" aria-hidden="true" data-toggle="dropdown">
					<span class="customUser">
						{{tagline}}
						<span class="caret"></span>
					</span>
				</i>
				<ul class="dropdown-menu">
					<li ng-click="logout()">
						<a tabindex="0">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="dashnav">
		<ul class="nav nav-tabs">
			<li role="navigation" class="navTabs">
				<div class="btn-group">
					<button class="dashbuttons">
						<i class="fa fa-tachometer fa-1x iconcontent" aria-hidden="true"></i>
						<span class="dashtext">Dashboard</span>
					</button>
				</div>
			</li>
		</ul>
	</div>
	<div class="content">
		<div class="col-md-5 nopadding userWidget">
			<user-list></user-list>
		</div>
		<div class="col-md-5 nopadding webinarWidget">
			<webinar-list></webinar-list>
		</div>
	</div>
</div>
