<div ng-controller="EditUserCtrl">
    <div class="modal-header">
    	<h3> Edit User </h3>
    </div>
    <div class="modal-body">
    	<div class="row editFormPositioning">
		    <div class="col-md-7">
		    	<form class="form" name="editF" ng-submit="updateUser()" novalidate>
		    		<div class="form-group" ng-class="{'has-error': editF.firstName.$invalid && editF.firstName.$touched}">
						<input type="text" class="form-control" name="firstName" ng-model="editForm.firstName" required="">
						<div class="help-block" ng-messages="editF.firstName.$error" ng-if="editF.firstName.$touched">
							<span ng-message="required">Email is required.</span>
							<span ng-message="email">Must be a valid email.</span>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': editF.lastName.$invalid && editF.lastName.$touched}">
						<input type="text" class="form-control" name="lastName" ng-model="editForm.lastName" required="">
						<div class="help-block" ng-messages="editF.lastName.$error" ng-if="editF.lastName.$touched">
							<span ng-message="required">Email is required.</span>
							<span ng-message="email">Must be a valid email.</span>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': editF.email.$invalid && editF.email.$touched}">
						<input type="email" class="form-control" name="email" ng-model="editForm.email" required="">
						<div class="help-block" ng-messages="editF.email.$error" ng-if="editF.email.$touched">
							<span ng-message="required">Email is required.</span>
							<span ng-message="email">Must be a valid email.</span>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': editF.password.$invalid && editF.password.$touched}">
						<input type="password" class="form-control" name="password" ng-model="editForm.password" placeholder="New password">
						<div class="help-block" ng-messages="editF.password.$error" ng-if="editF.password.$touched">
							<span ng-message="required">Password is required.</span>
						</div>
					</div>
					<div class="form-group">
						<input type="textarea" class="form-control" name="desc" ng-model="editForm.desc" placeholder="Description">
					</div>
					<div class="form-group select-photo">
				  		<button type="file" ngf-select="previewFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="20MB">
				  			Choose File
				  		</button>
						{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
						<div>
							<span>{{errorMsg}}</span>
						</div>
					</div>
					<div class="form-group">
						<div class="preview" ng-show="selectedPicture">
							<img data-ng-src="{{tempurl}}">
						</div>
					</div>
					<button type="submit" class="btn btn-primary editButtonStretch" ng-disabled="editF.$invalid">Edit</button>
		  		</form>
		    </div>
		</div>
    </div>
    <div class="modal-footer">
    	<button class="btn btn-success" ng-click="cancel()">Cancel</button>
    </div>
</div>