<div ng-controller="UserController">
	<div class="widgetNavbar">
		<i class="fa fa-users iconAlign" aria-hidden="true"></i>
		<div class="iconAlign widgetTitle">Team Members</div>
    	<input type="text" class="form-control userSearch" ng-model="SearchQuery" placeholder="Search for a user...">
  		<button class="insertButton" ng-controller="InsertUserCtrl" ng-click="openInsert()"><i class="fa fa-plus iconAlign" aria-hidden="true"></i></button>
	</div>
	<div class="userPositioning">
		<ul class="userContainer">
			<li ng-repeat="Us in userlist | search : SearchQuery" class="userThumbnail">
				<div class="slideDown" ng-hide="Us.MenuToggle">
          			<div class="expand-collapse-content toggleIcons">
						<button class="iconButtons" ng-controller="ViewProfileCtrl" ng-click="openProfile(Us.id)">
							<i class="fa fa-coffee" aria-hidden="true"></i>
						</button>
						<button ng-show="{{Us.ActiveUser}}" class="iconButtons" ng-controller="EditUserCtrl" ng-click="openEdit(Us.id)">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</button>
						<button class="iconButtons" ng-click="deleteUser(Us.id)">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<div class="imgThumb" ng-click="callFunction(Us.pos, 'showMenu')" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
					<div class="someImg"><span class="helper"></span><img src="{{Us.pic}}" alt="{{Us.name}} profile picture"></div>
					<div class="imgLabel"> {{Us.name}} </div>
				</div>
			</li>
		</ul>
	</div>
</div>