<div ng-controller="InsertUserCtrl">
    <div>
    <div class="modal-header">
        <h3 class="modal-title">Insert new user!</h3>
    </div>
    <form class="form" name="insertUs" ng-submit="register()" novalidate>
        <div class="modal-body">
          <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
            <div class="form-group" ng-class="{'has-error': insertUs.firstName.$invalid && insertUs.firstName.$touched}">
              <label>First Name</label>
              <input type="text" class="form-control" name="firstName" ng-model="insertUser.firstName" ng-pattern="/\b[A-Z]{1}[a-z]{2,30}$/" ng-minlength="3" ng-maxlength="31" required="">
              <div class="help-block" ng-messages="insertUs.firstName.$error" ng-if="insertUs.firstName.$touched">
                <span ng-message="minlength">Minimum of 3 characters.</span>
                <span ng-message="maxlength">Maximum of 31 characters.</span>
                <span ng-message="required">First Name is required.</span>
                <span ng-message="pattern">First Name starts with a capital letter followed by lowercase characters!</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': insertUs.lastName.$invalid && insertUs.lastName.$touched}">
              <label>Last Name</label>
              <input type="text" class="form-control" name="lastName" ng-model="insertUser.lastName" ng-pattern="/\b[A-Z]{1}[a-z]{2,30}$/" ng-minlength="3" ng-maxlength="31" required="">
              <div class="help-block" ng-messages="insertUs.lastName.$error" ng-if="insertUs.lastName.$touched">
                <span ng-message="minlength">Minimum of 3 characters.</span>
                <span ng-message="maxlength">Maximum of 31 characters.</span>
                <span ng-message="required">Last Name is required.</span>
                <span ng-message="pattern">Last Name starts with a capital letter followed by lowercase characters!</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': insertUs.email.$invalid && insertUs.email.$touched}">
              <label>Email</label>
              <input type="email" class="form-control" name="email" ng-model="insertUser.email" required="">
              <div class="help-block" ng-messages="insertUs.email.$error" ng-if="insertUs.email.$touched">
                <span ng-message="required">Email is required.</span>
                <span ng-message="email">Must be a valid email.</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': insertUs.password.$invalid && insertUs.password.$touched}">
              <label>Password</label>
                <input type="password" class="form-control" name="password" ng-model="insertUser.password" required="">
                <div class="help-block" ng-messages="insertUs.password.$error" ng-if="insertUs.password.$touched">
                  <span ng-message="required">Password is required.</span>
                </div>
              </div>
            <div class="form-group" ng-class="{'has-error': insertUs.role.$invalid && insertUs.role.$touched}">
              <label>Role</label>
                <input type="text" class="form-control" name="role" ng-model="insertUser.role" ng-pattern="/^(Admin|Basic)$/">
                <div class="help-block" ng-messages="insertUs.role.$error" ng-if="insertUs.role.$touched">
                    <span ng-message="pattern">Has to be Admin or Basic</span>
                </div>
              </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="insertUs.$invalid">Insert</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Go back</button>
        </div>
    </form>
    </div>
</div>