<div ng-controller="ViewProfileCtrl">
    <div class="modal-header">
    	<div class="InfoWrapper">
	        <div class="userPic">
	        	<img src="{{pic}}" alt="{{name}} profile picture">
	        </div>
	        <div class="userInfo">
	        	<div class="userField">
	        		<strong>Name:</strong> {{name}}
	        	</div>
	        	<div class="userField">
	        		<strong>Email:</strong> {{email}}
	        	</div>
	        	<div class="userField">
	        		<strong>Cluster:</strong> {{cluster}}
	        	</div>
	        </div>
	    </div>
    </div>
    <div class="modal-body">
    	<div class="userDesc">
    		{{desc}}
    	</div>
    </div>
    <div class="modal-footer">
		<button class="btn btn-success" ng-click="ok()">Ok</button>
    </div>
</div>