<div ng-controller="ViewWebinarCtrl">
    <div class="modal-header">
    	<div class="InfoWrapper">
	        <div class="WebPic">
	        	<img src="{{pic}}" alt="{{name}} category picture">
	        </div>
	        <div class="webinarViewInfo">
	        	<div class="webinarField">
	        		<strong>Name:</strong> {{name}}
	        	</div>
	        	<div class="webinarField">
	        		<strong>Link:</strong> <a href="http://{{link}}">Link</a>
	        	</div>
	        	<div class="webinarField">
	        		<strong>Date:</strong> {{date}}
	        	</div>
	        	<div class="webinarField">
	        		<strong>Category:</strong> {{category}}
	        	</div>
	        	<div class="webinarField">
	        		<strong>Cluster:</strong> {{cluster}}
	        	</div>
	        	<div class="webinarField">
	        		<strong>Users:</strong> {{users}}
	        	</div>
	        </div>
	    </div>
    </div>
    <div class="modal-body">
    	<div class="userDesc">
    		{{desc}}
    	</div>
    </div>
    <div class="modal-footer">
		<button class="btn btn-success" ng-click="ok()">Ok</button>
    </div>
</div>