<div ng-controller="InsertWebinarCtrl">
    <div>
    <div class="modal-header">
        <h3 class="modal-title">Add new webinar</h3>
    </div>
        <div class="modal-body">
          <div class="row editFormPositioning">
          <div class="col-md-5">
          <form class="form" name="insertWeb" ng-submit="register()" novalidate>
            <div class="form-group" ng-class="{'has-error': insertWeb.category.$invalid && insertWeb.category.$touched}">
              <select class="form-control" name="category" ng-model="insertWebinar.category" required="">
                <option value="" selected disabled>--Category--</option>
                <option value="Database">Database</option>
                <option value="Back-End">Back-End</option>
                <option value="Front-End">Front-End</option>
                <option value="Server-Side">Server-Side</option>
              </select>
              <div class="help-block" ng-messages="insertWeb.category.$error" ng-if="insertWeb.category.$touched">
                <span ng-message="required">Category is required.</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': insertWeb.name.$invalid && insertWeb.name.$touched}">
              <input type="text" class="form-control" name="name" ng-model="insertWebinar.name" placeholder="Name" required="">
              <div class="help-block" ng-messages="insertWeb.name.$error" ng-if="insertWeb.name.$touched">
                <span ng-message="required">Name is required.</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': insertWeb.link.$invalid && insertWeb.link.$touched}">
              <input type="text" class="form-control" name="link" ng-model="insertWebinar.link" placeholder="Link" required="">
              <div class="help-block" ng-messages="insertWeb.link.$error" ng-if="insertWeb.link.$touched">
                <span ng-message="required">Link is required.</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': insertWeb.date.$invalid && insertWeb.date.$touched}">
              <div class="input-group">
                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm --" name="date" ng-model="insertWebinar.date" required="" is-open="isOpen"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
                <div class="help-block" ng-messages="insertWeb.date.$error" ng-if="insertWeb.date.$touched">
                  <span ng-message="required">Date is required.</span>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="description" ng-model="insertWebinar.description" placeholder="Description">
              </div>
              <button type="submit" class="btn btn-primary editButtonStretch" ng-disabled="insertWeb.$invalid">Register</button>
            </form>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Go back</button>
        </div>
    </div>
</div>