<div ng-controller="EditWebinarCtrl">
    <div class="modal-header">
    	Edit webinar
    </div>
    <div class="modal-body">
    	<div class="row editFormPositioning">
          <div class="col-md-5">
          <form class="form" name="updateWeb" ng-submit="update()" novalidate>
            <div class="form-group" ng-class="{'has-error': updateWeb.category.$invalid && updateWeb.category.$touched}">
              <select class="form-control" name="category" ng-model="updateWebinar.category" required="">
                <option value="" selected disabled>--Category--</option>
                <option value="Database">Database</option>
                <option value="Back-End">Back-End</option>
                <option value="Front-End">Front-End</option>
                <option value="Server-Side">Server-Side</option>
              </select>
              <div class="help-block" ng-messages="updateWeb.category.$error" ng-if="updateWeb.category.$touched">
                <span ng-message="required">Category is required.</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': updateWeb.name.$invalid && updateWeb.name.$touched}">
              <input type="text" class="form-control" name="name" ng-model="updateWebinar.name" placeholder="Name" required="">
              <div class="help-block" ng-messages="updateWeb.name.$error" ng-if="updateWeb.name.$touched">
                <span ng-message="required">Name is required.</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': updateWeb.link.$invalid && updateWeb.link.$touched}">
              <input type="text" class="form-control" name="link" ng-model="updateWebinar.link" placeholder="Link" required="">
              <div class="help-block" ng-messages="updateWeb.link.$error" ng-if="updateWeb.link.$touched">
                <span ng-message="required">Link is required.</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': updateWeb.date.$invalid && updateWeb.date.$touched}">
              <div class="input-group">
                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm --" name="date" ng-model="updateWebinar.date" required="" is-open="isOpen"  />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
                <div class="help-block" ng-messages="updateWeb.date.$error" ng-if="updateWeb.date.$touched">
                  <span ng-message="required">Date is required.</span>
                </div>
            </div>
              <div class="form-group">
                <input type="text" class="form-control" name="description" ng-model="updateWebinar.description" placeholder="Description">
              </div>
              <button type="submit" class="btn btn-primary editButtonStretch" ng-disabled="updateWeb.$invalid">Update</button>
            </form>
            </div>
            </div>
    </div>
    <div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()">Go Back</button>
    </div>
</div>