<div ng-controller="WebinarController">
	<div class="widgetNavbar">
		<i class="fa fa-magic iconAlign" aria-hidden="true"></i>
		<div class="iconAlign widgetTitle">Webinars</div>
		<button class="insertButton listIcon" ng-click="changeToList()">
			<i class="fa fa-list-alt fa-2x iconAlign" aria-hidden="true"></i>
		</button>
		<button class="insertButton" ng-click="changeToCalendar()">
			<i class="fa fa-calendar fa-2x iconAlign" aria-hidden="true"></i>
		</button>
    	<input type="text" class="form-control webinarSearch" ng-model="SearchWebinar" placeholder="Search for a webinar...">
  		<button class="insertButton" ng-controller="InsertWebinarCtrl" ng-click="openInsert()"><i class="fa fa-plus iconAlign" aria-hidden="true"></i></button>
	</div>
	<div class="webinarPositioning" ng-show="ListToggle">
		<ul class="webinarContainer">
			<li ng-repeat="Web in webinarlist | search : SearchWebinar" class="webinarDisplay">
				<div class="slideDown" ng-hide="Web.Menu">
          			<div class="expand-collapse-content toggleIcons">
						<button class="iconButtons" ng-controller="ViewWebinarCtrl" ng-click="openWebinar(Web.id)">
							<i class="fa fa-coffee" aria-hidden="true"></i>
						</button>
						<button class="iconButtons" ng-controller="EditWebinarCtrl" ng-click="editWebinar(Web.id)">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</button>
						<button class="iconButtons" ng-click="deleteWebinar(Web.id)">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<div class="stretchDisplay" ng-click="callWebFunction(Web.pos, 'showWebMenu')" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
					<div class="webImgContainer">
						<div class="someImage">
							<img src="{{Web.pic}}" alt="{{Web.name}} category picture">
						</div>
					</div>
					<div class="webinarInfo">
						<div class="webTitle"> {{Web.name}} </div>
						<div> {{Web.date}} </div>
						<div class="webLink"><a href="http://{{Web.link}}">Link</a></div>
						<div>no members</div>
					</div>
					<div class="webinarOwner">
						<div class="webinarAnchor"> added by: <a ng-controller="ViewProfileCtrl" ng-click="openProfile(Web.userId)">{{Web.owner}}</a></div>
					</div>
					<div class="webinarJoin">
						<button class="btn btn-default webinarButton">Join</button>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="webinarPositioning" ng-show="CalendarToggle">
		<calendar-dir></calendar-dir>
	</div>
</div>