body {
  background: #F9F6F1;
}
.dashwrapper {
  display: flex;
  flex-direction: column;
}
.custom-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 35%;
}
.links {
  font-family: Actor;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 16px;
}
.customnav {
  width: 100%;
  height: 15%;
  padding: 15px;
  display: inline-block;
  position: relative;
  background: #e2007a;
  z-index: 0;
}
.customnav > .welcome {
  bottom: 9px;
  margin-left: 7%;
  color: #FFF;
  position: absolute;
  z-index: 1;
  font-family: Actor;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 24px;
}
.customnav > .user-dropdown {
  cursor: pointer;
  margin-right: 7%;
  position: relative;
  float: right;
  z-index: 1;
}
.customnav > .user-dropdown .settingIcon {
  color: #FFF;
}
.customnav > .user-dropdown .settingIcon > .customUser {
  font-family: Actor;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 16px;
}
.navTabs {
  margin-left: 7%;
  position: relative;
}
.dashnav {
  background: #FFF;
}
.dashbuttons {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 1px;
  border-color: #D9D9D9;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #004a91;
}
.dashtext {
  padding: 5px;
  font-family: Actor;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  font-size: 14px;
}
.iconcontent {
  margin-top: 10%;
  margin-left: 40%;
}
.content {
  margin-left: 3%;
}
.userWidget {
  background-color: #FFF;
  margin: 3%;
  border-width: 1px;
  border-color: #D9D9D9;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.widgetNavbar {
  background: linear-gradient(#f8f5f0, #f2efea);
  padding: 5px;
  border-width: 1px;
  border-color: #D9D9D9;
  border-top-style: solid;
  border-bottom-style: solid;
  display: flex;
  flex-direction: row;
}
.nopadding {
  padding: 0 !important;
}
.iconAlign {
  align-self: center;
  margin-left: 1.25%;
}
.widgetTitle {
  font-family: Actor;
  font-weight: bold;
  font-size: 16px;
}
.userSearch {
  width: 30%;
  margin-left: 40%;
}
.userPositioning {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}
.userContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 20px;
  width: 100%;
  height: 100%;
}
.imgThumb {
  z-index: 20;
  display: block;
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.someImg {
  background-color: #f0f0f0;
  width: 148px;
  height: 100px;
  text-align: center;
}
.someImg > img {
  vertical-align: middle;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.imgThumb > .imgLabel {
  border-top-style: solid;
  border-top-color: #ddd;
  border-width: 1px;
  padding: 9px;
  color: #333;
}
.insertButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}
.toggleIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.iconButtons {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}
.userThumbnail {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  margin-bottom: 4%;
}
.userThumbnail > .slideDown.ng-hide {
  background: #FFF;
  width: 148px;
  height: 0;
  transition: height 0.35s ease;
  overflow: hidden;
  position: absolute;
}
.userThumbnail > .slideDown {
  background: #FFF;
  width: 148px;
  height: 25px;
  padding-left: 0!important;
  transition: height 0.35s ease;
  overflow: hidden;
  position: absolute;
  z-index: 30;
}
.userThumbnail > .slideDown.ng-hide-remove,
.userThumbnail .slideDown.ng-hide-add {
  /* remember, the .hg-hide class is added to element
      when the active class is added causing it to appear
      as hidden. Therefore set the styling to display=block
      so that the hide animation is visible */
  display: block!important;
}
.userThumbnail > .slideDown.ng-hide-add {
  animation-name: hide;
  -webkit-animation-name: hide;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
.userPic > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.userPic {
  margin-left: 2%;
  width: 40%;
}
.InfoWrapper {
  display: flex;
  flex-direction: row;
  font-family: Actor;
}
.userInfo {
  margin-left: 10%;
}
.userInfo > .userField {
  padding-bottom: 10%;
}
.userDesc {
  font-family: Actor;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 6%;
}
.editFormPositioning {
  display: flex;
  justify-content: center;
}
.editButtonStretch {
  width: 100%;
}
.userThumbnail {
  width: 150px;
  height: 150px;
  margin-right: 30px;
  margin-left: 10px;
}
.preview > img {
  width: 50%;
  height: auto;
}
.select-photo {
  border-style: solid;
  border-width: 1px;
  border-color: #D9D9D9;
  padding: 3%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.webinarWidget {
  background-color: #FFF;
  margin: 3%;
  border-width: 1px;
  border-color: #D9D9D9;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.listIcon {
  margin-top: 0.90%;
  margin-left: 5%;
}
.webinarSearch {
  width: 30%;
  margin-left: 33%;
}
.webinarDisplay {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
  border-color: #D9D9D9;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 2%;
}
.webinarDisplay > .slideDown.ng-hide {
  background: #FFF;
  width: 95.7%;
  height: 0;
  transition: height 0.35s ease;
  overflow: hidden;
  position: absolute;
}
.webinarDisplay > .slideDown {
  background: #FFF;
  width: 95.7%;
  height: 25px;
  padding-left: 0!important;
  transition: height 0.35s ease;
  overflow: hidden;
  position: absolute;
  z-index: 30;
}
.webinarDisplay > .slideDown.ng-hide-remove,
.webinarDisplay .slideDown.ng-hide-add {
  /* remember, the .hg-hide class is added to element
      when the active class is added causing it to appear
      as hidden. Therefore set the styling to display=block
      so that the hide animation is visible */
  display: block!important;
}
.webinarDisplay > .slideDown.ng-hide-add {
  animation-name: hide;
  -webkit-animation-name: hide;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
.webinarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  height: 100%;
}
.webinarPositioning {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.webImgContainer {
  z-index: 20;
  background-color: #fff;
  width: 50px;
  height: 50px;
  margin-left: 1%;
}
.webImgContainer .someImage {
  width: 100%;
  height: 100%;
  text-align: center;
}
.webImgContainer .someImage > img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.stretchDisplay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
}
.webTitle {
  font-weight: bold;
  font-size: 18px;
}
.webinarButton {
  background: #e2007a;
  color: #fff;
}
.webLink > a {
  color: #e2007a;
  font-weight: bold;
}
.webinarInfo {
  margin-left: 5%;
  width: 35%;
}
.webinarOwner {
  margin-left: 5%;
  width: 30%;
}
.webinarJoin {
  margin-left: 5%;
}
.WebPic > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.WebPic {
  margin-top: 8%;
  margin-left: 10%;
  width: 20%;
}
.webinarViewInfo {
  margin-left: 15%;
}
.webinarViewInfo > .webinarField {
  padding-bottom: 5%;
}
.webinarAnchor > a {
  color: #e2007a;
  font-weight: bold;
  cursor: pointer;
}
